<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="font-family:'Economica', sans-serif">

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top my-sm-3">
		<ul class="navbar-nav">
			<li class="nav-item"><a href="/home" class="nav-link">Hello, <%= user.username %></a></li>
	    <li class="nav-item"><a href="/fav" class="nav-link text-success">Favourote List</a></li>
			<li class="nav-item"><a href="/logout" class="nav-link text-danger">Logout</a></li>
		</ul>
	</nav>

<div class="container bg-warning">
  <h4 class="display-4 text-light">Journey time indicators</h4>
</div>
<div class="container bg-light">
	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-primary text-center" id="back">Back</button>
		&nbsp;&nbsp;
		<button type="button" class="btn btn-danger text-center" onclick="second();">Past 7 days</button>
	</div>


	<canvas id="hours" width="500" height="300" ></canvas>
</div>
<script>
document.getElementById("back").setAttribute("href","/place/"+<%= id %>);
var ctx = document.getElementById('hours').getContext('2d');
const labels = [<%= time %>];
var data={};
if("<%= name.length %>"==="2"){
  data ={
    labels: labels,
    datasets: [
      {
        label: '<%= name[0] %>',
        data: [<%= ret[0] %>],
        borderColor: "red",
      },
      {
        label: '<%= name[1] %>',
        data: [<%= ret[1] %>],
        borderColor: "blue",
      }
    ]
  };
}
else{
  data = {
  labels: labels,
  datasets: [
    {
      label: '<%= name[0] %>',
      data: [<%= ret[0] %>],
      borderColor: "red",
    },
    {
      label: '<%= name[1] %>',
      data: [<%= ret[1] %>],
      borderColor: "blue",
    },
    {
      label: '<%= name[2] %>',
      data: [<%= ret[2] %>],
      borderColor: "green",
    }
  ]
  };
}

var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
  options: {
    scales: {
        y: {
            min: 0
        }
    },
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Waiting time for <%= me %> in the past 10 hours'
      }
    }
  },
});
</script>





<footer class="text-md-right text-light bg-dark p-2 mt-sm-3">
<b>&copy; Group 2</b>
</footer>

</body>
</html>
