<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>place</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
	<style type="text/css">#map {height: 400px;width: 100%;}</style>
	
	<script>
		function initMap() { 
			const uluru = { lat: <%= latitude%>,lng:<%= longitude%>};const map = new google.maps.Map(document.getElementById("map"), {zoom: 15, center: uluru,});const marker = new google.maps.Marker({position: uluru,map: map,});
		}
	</script>
	<script>
		function putcom() {
	      if(typeof(document.getElementById('c'))!="undefined" && document.getElementById('c')!= null){
	        var data = {
	          user : "<%= user.username %>",
	          body: document.getElementById('c').value
	        };
	      fetch('http://csci2720-g73.cse.cuhk.edu.hk/putloc/<%= id %>',
		      { mode: 'cors',
		      method: 'PUT',
		      headers: {'Content-Type': 'application/json'},
		      body: JSON.stringify(data)
		      })
	      .then((response)=>location.reload());
	      }
    	}
    	function initfav(){
    		if("<%= fa %>"==="true"){
    			var btn = document.createElement("BUTTON");
    			btn.innerHTML = "Remove from favourite";
    			btn.setAttribute("class","btn btn-primary");
				document.querySelector("#f").appendChild(btn);
				btn.setAttribute("onclick", "remfav();");
			}
			else{
				var btn = document.createElement("BUTTON");
    			btn.innerHTML = "Add to favourite";
    			btn.setAttribute("class","btn btn-primary");
				document.querySelector("#f").appendChild(btn);
				btn.setAttribute("onclick", "addfav();");
			}

			document.getElementById("td").style.color = "<%=res[2] %>";
			document.getElementById("te").style.color = "<%=res[5] %>";

			if(!("<%= res[6] %>" == "")){
				document.getElementById("ta").innerHTML= "<%=res[6] %>";
				document.getElementById("tb").innerHTML= "<%=res[7] %>";
				document.getElementById("tf").innerHTML= "<%=res[8] %>";
				document.getElementById("tf").style.color = "<%=res[8] %>";
			}
			else document.getElementById("tc").style.display = "none";
    		
    	}
    	function addfav() {
    		var data = {
	          user : "<%= user.username %>",
	          id : "<%= id %>"
	        };
	      fetch('http://csci2720-g73.cse.cuhk.edu.hk/fav',
		      { mode: 'cors',
		      method: 'POST',
		      headers: {'Content-Type': 'application/json'},
		      body: JSON.stringify(data)
		      })
	      .then((response)=>location.reload());
		}
		function remfav() {
    		var data = {
	          user : "<%= user.username %>",
	          id : "<%= id %>"
	        };
	      fetch('http://csci2720-g73.cse.cuhk.edu.hk/remfav',
		      { mode: 'cors',
		      method: 'PUT',
		      headers: {'Content-Type': 'application/json'},
		      body: JSON.stringify(data)
		      })
	      .then((response)=>location.reload());
		}
	</script>

</head>

<body style="font-family:'Economica', sans-serif" onload="initfav();">

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top my-sm-3">
		<ul class="navbar-nav">
			<li class="nav-item"><a href="/home" class="nav-link">Hello, <%= user.username %></a></li>
	    <li class="nav-item"><a href="/fav" class="nav-link text-success">Favourote List</a></li>
			<li class="nav-item"><a href="/logout" class="nav-link text-danger">Logout</a></li>
		</ul>
	</nav>

<div class="container bg-warning">
  <h4 class="display-4 text-light">Journey time indicators</h4>
</div>

<div class="container">
 <h5 class="display-4 text-danger"><%= name %></h5>
<div id="f">

</div>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCekcqFhT86PHg743TdzZmHreypuTzO6C0&callback=initMap&libraries=&v=weekly"async></script>
<h3>There are <%= num %> destination.</h3>
<br>
<div>

	<h3><%= res[0] %></h3>
	<h3><%= res[1] %></h3>
	<h3>The color code is <span id="td"><%= res[2] %></span>.</h3>
	<br>
	<h3><%= res[3] %></h3>
	<h3><%= res[4] %></h3>
	<h3>The color code is <span id="te"><%= res[5] %></span>.</h3>
	<br>
	<h3 id="ta"></h3>
	<h3 id="tb"></h3>
	<h3 id="tc">The color code is <span id="tf"></span>.</h3>
	<hr>
	<h2>We advise you to choose <%= advice %>, the travel time is only <%= fastest %> minutes!</h2>
	<p style="text-align:right;">Last updated: <%= time %></p>
</div>
<div id="comment" class="container bg-light">
<h1 class="text-success">Do you have any comments about <%= name %></h1>
<% for (var i of comment) { %>
<hr>
<h4 class="text-primary"><%= i.user %>:</h4>
<p class="text-primary"><%= i.body %></p>
<% } %>


<h2> Leave your comment here: </h2>
<form>
	<textarea class="form-control" id="c" rows="3" placeholder="Comment here"></textarea>
	<button type="button" class="btn btn-danger" onclick="putcom()">Send</button>
</form>
</div>
</div>


<footer class="text-md-right text-light bg-dark p-2 mt-sm-3">
<b>&copy; Group 2</b>
</footer>

</body>
</html>
